@charset "UTF-8";
/* Asignación de tamaños de los h principales de uso del proyecto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.7rem;
}

/* Creamos esta clase para luego ser extendida durante nuestro estilado */
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ahora crearemos los mixin que emplearemos durante el proyecto */
/* Se crearon ambos flex para ser aplicados en la mayoría de archivos de estilos */
/* Ahora utilizamos una pequeña animación para darle un poco de vida a nuestro logo */
@keyframes soft {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* Animación para nuestro logo de Whatsapp */
@keyframes move_wha {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(360deg) scale(1.1);
  }
  50% {
    transform: rotate(360deg) scale(1.1);
  }
  60% {
    transform: rotate(0deg) scale(1);
  }
  80% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #080808;
}

body {
  color: #080808;
  background-color: #e7e1d1;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

/* Dando estilos a la scrollbar */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #ea1166;
}

body::-webkit-scrollbar-thumb {
  background-color: #26a9e0;
  border-radius: 20px;
  box-shadow: 0 0 1rem 0.333333rem rgb(255, 255, 255) !important;
}

/* */
p {
  margin-bottom: 0;
}

hr {
  height: 5px;
  width: 10%;
  background-color: black;
}

header {
  box-shadow: 0px 5px 10px 0px rgb(255, 255, 255);
  background-color: #dc9bed;
  /* Aplicación de estilos a la navbar */
}
header .navegador {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: 10px 0;
}
header .navegador_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 33.3%;
}
header .navegador_list li {
  font-size: 1.5rem;
  font-weight: bold;
}
header .navegador_list li a {
  color: #2d1b4f;
  transition: all 0.5s;
}
header .navegador_list li a:hover {
  color: #480f10;
}
header .navegador_list i {
  font-size: 2.5rem;
  color: #2d1b4f;
  transition: all 0.5s;
}
header .navegador_list i:hover {
  color: #480f10;
}
header .navegador_list_primera {
  grid-area: nav1;
}
header .navegador_list_segunda {
  grid-area: nav2;
}
header .navegador_logo {
  animation: soft 5s infinite;
  animation-delay: 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 33.3%;
  grid-area: navlogo;
}
header .navegador_logo img {
  width: 60%;
}

footer {
  background-color: #dc9bed;
  box-shadow: 0px -5px 10px 0px rgb(255, 255, 255);
  /* Acá hacemos más énfasis en la clase .footer, ya que nos brinda más comodidad con la nomenclatura BEM */
}
footer .footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 0;
  padding: 10px 0;
}
footer .footer_container_link {
  width: 25%;
}
footer .footer_container_link img {
  width: 100%;
  animation: soft 5s infinite;
  animation-delay: 0s;
}
footer .footer_contacto, footer .footer_redessociales {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  font-size: 1.5rem;
  color: #2d1b4f;
}
footer .footer_contacto h3, footer .footer_redessociales h3 {
  text-align: center;
}
footer .footer_contacto p, footer .footer_redessociales p {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}
footer .footer_contacto p:hover, footer .footer_redessociales p:hover {
  color: #480f10;
}
footer .footer_redessociales_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 0;
  width: 100%;
  font-size: 2rem;
}
footer .footer_redessociales_icons i {
  color: #2d1b4f;
  transition: 0.5s;
}
footer .footer_redessociales_icons i:hover {
  color: #480f10;
}

.wha_logo {
  position: fixed;
  top: 35%;
  left: 0;
  z-index: 10;
}
.wha_logo_contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  transition: 0.3s all;
}
.wha_logo_contenedor i {
  font-size: 1.5rem;
  color: #2ea322;
  transform: rotate(90deg);
}
.wha_logo_contenedor span {
  writing-mode: vertical-lr;
  font-size: 1.2rem;
  color: #2ea322;
  font-weight: bold;
}
.wha_logo_contenedor:hover {
  background-color: #2ea322;
  padding-left: 10px;
}
.wha_logo_contenedor:hover i {
  color: white;
}
.wha_logo_contenedor:hover span {
  color: white;
}

/* Esta será la sección de bienvenida y ajustes del carrusel */
#bienvenida {
  padding-top: 50px;
}
#bienvenida h1 {
  text-align: center;
  padding-bottom: 50px;
}

.carrusel {
  padding-right: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.carrusel .contenedor_carrusel {
  width: 100%;
}
.carrusel .contenedor_carrusel .carousel-item {
  /* @include flex-center(column); */
  width: 100%;
}
.carrusel .contenedor_carrusel .carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 550px;
  filter: brightness(70%);
}
.carrusel .carousel-caption h2 {
  background-color: rgba(255, 255, 255, 0.411);
  font-weight: bold;
  color: #191919;
  margin-bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.carrusel .carousel-caption p {
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.411);
  font-weight: bold;
  color: #191919;
  margin-bottom: 0;
  margin-bottom: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Ahora le daremos estilos y orden a la sección de publicaciones, en donde se muestran distintas cartas de productos */
#publicaciones {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 50px;
}
#publicaciones h2 {
  text-align: center;
}
#publicaciones p {
  padding-bottom: 50px;
  font-size: 1.5rem;
}
#publicaciones .publicaciones_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 16.6%);
  grid-template-rows: repeat(4, 200px);
  grid-template-areas: "mol2 mol2 mol1 mol1 mol1 mol1" "mol2 mol2 mol1 mol1 mol1 mol1" "mol2 mol2 mol3 mol3 mol4 mol4" "mol2 mol2 mol3 mol3 mol4 mol4";
}
#publicaciones .publicaciones_container img {
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#publicaciones .publicaciones_container_contenido {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#publicaciones .publicaciones_container_contenido span {
  position: absolute;
  display: none;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: white;
}
#publicaciones .publicaciones_container_contenido:hover span {
  display: block;
}
#publicaciones .publicaciones_container_contenido:hover img {
  filter: blur(5px);
}
#publicaciones .publicaciones_container_modelo1 {
  grid-area: mol1;
}
#publicaciones .publicaciones_container_modelo2 {
  grid-area: mol2;
}
#publicaciones .publicaciones_container_modelo3 {
  grid-area: mol3;
}
#publicaciones .publicaciones_container_modelo4 {
  grid-area: mol4;
}

.nosotros_principal {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.nosotros_principal_container h1 {
  text-align: center;
  padding-bottom: 50px;
}
.nosotros_principal_container_textos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 50px;
}
.nosotros_principal_container_textos_mision, .nosotros_principal_container_textos_vision {
  box-shadow: 0 0 10px 5px rgb(255, 255, 255);
  height: 500px;
  width: 50%;
  padding: 15px;
  background-color: #eacad7;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.5s;
  overflow-y: scroll;
  /* Agregamos estilos a las scrollbar generadas para que el tamaño de pantalla no afecte el contenido */
}
.nosotros_principal_container_textos_mision p, .nosotros_principal_container_textos_vision p {
  font-size: 1.5rem;
  text-align: justify;
  color: #480f10;
}
.nosotros_principal_container_textos_mision h2, .nosotros_principal_container_textos_vision h2 {
  text-align: center;
  color: #480f10;
}
.nosotros_principal_container_textos_mision:hover, .nosotros_principal_container_textos_vision:hover {
  background-color: #dc9bed;
}
.nosotros_principal_container_textos_mision::-webkit-scrollbar, .nosotros_principal_container_textos_vision::-webkit-scrollbar {
  width: 12px;
}
.nosotros_principal_container_textos_mision::-webkit-scrollbar-track, .nosotros_principal_container_textos_vision::-webkit-scrollbar-track {
  background: #ea1166;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.nosotros_principal_container_textos_mision::-webkit-scrollbar-thumb, .nosotros_principal_container_textos_vision::-webkit-scrollbar-thumb {
  background-color: #26a9e0;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

/* Aplicación de estilos en el collage de momentos destacables */
.nosotros_momentos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 50px;
}
.nosotros_momentos h2 {
  padding-bottom: 50px;
}
.nosotros_momentos_collage {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 14.2857143%);
  grid-template-rows: auto;
  grid-template-areas: "img1 img1 img2 img2 img2 img4 img4" "img1 img1 img2 img2 img2 img4 img4" "img1 img1 img3 img3 img3 img4 img4" "img1 img1 img3 img3 img3 img5 img5" "img1 img1 img3 img3 img3 img5 img5" "img6 img6 img6 img7 img7 img7 img7" "img6 img6 img6 img7 img7 img7 img7" "img6 img6 img6 img7 img7 img7 img7";
}
.nosotros_momentos_collage_contenido {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
}
.nosotros_momentos_collage_contenido_texto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  /* background-color: #19191925; */
}
.nosotros_momentos_collage_contenido_texto p {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: rgba(25, 25, 25, 0.2823529412);
  border-radius: 10px;
  padding: 10px;
}
.nosotros_momentos_collage_contenido img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(10px);
  transition: all 0.5s;
  border-radius: 20px;
}
.nosotros_momentos_collage_contenido img:hover {
  filter: blur(0);
}
.nosotros_momentos_collage_img1 {
  grid-area: img1;
}
.nosotros_momentos_collage_img1:hover div {
  visibility: hidden;
}
.nosotros_momentos_collage_img2 {
  grid-area: img2;
}
.nosotros_momentos_collage_img2:hover div {
  visibility: hidden;
}
.nosotros_momentos_collage_img3 {
  grid-area: img3;
}
.nosotros_momentos_collage_img3:hover div {
  visibility: hidden;
}
.nosotros_momentos_collage_img4 {
  grid-area: img4;
}
.nosotros_momentos_collage_img4:hover div {
  visibility: hidden;
}
.nosotros_momentos_collage_img5 {
  grid-area: img5;
}
.nosotros_momentos_collage_img5:hover div {
  visibility: hidden;
}
.nosotros_momentos_collage_img6 {
  grid-area: img6;
}
.nosotros_momentos_collage_img6:hover div {
  visibility: hidden;
}
.nosotros_momentos_collage_img7 {
  grid-area: img7;
}
.nosotros_momentos_collage_img7:hover div {
  visibility: hidden;
}

.sucursales_principal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
}
.sucursales_principal h1 {
  padding-bottom: 50px;
  text-align: center;
}
.sucursales_principal_sucursal {
  box-shadow: 0 0 10px 5px rgb(255, 255, 255);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  grid-template-areas: "ele1 ele1" "ele2 ele3" "ele5 ele4" "ele6 ele6";
  /* gap: 15px; */
  margin-bottom: 50px;
  border-radius: 20px;
}
.sucursales_principal_sucursal_elemento1 {
  grid-area: ele1;
  background-color: #e0adbe;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 0;
}
.sucursales_principal_sucursal_elemento2 {
  grid-area: ele2;
  width: 100%;
  height: 100%;
  /* batallando un poco con loc carruseles */
}
.sucursales_principal_sucursal_elemento2 .carousel {
  height: 100%;
}
.sucursales_principal_sucursal_elemento2 .carousel .carousel-inner {
  height: 100%;
}
.sucursales_principal_sucursal_elemento2 .carousel .carousel-inner .carousel-item {
  height: 100%;
}
.sucursales_principal_sucursal_elemento2 .carousel .carousel-inner .carousel-item img {
  height: 100%;
  object-fit: cover;
}
.sucursales_principal_sucursal_elemento3 {
  display: inline-block;
  grid-area: ele3;
  padding: 10px;
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sucursales_principal_sucursal_elemento3 p {
  font-size: 1.5rem;
  text-align: justify;
  align-self: center;
}
.sucursales_principal_sucursal_elemento4 {
  grid-area: ele4;
  width: 100%;
  height: 100%;
  min-height: 300px;
}
.sucursales_principal_sucursal_elemento5 {
  grid-area: ele5;
  padding: 10px;
  font-size: 1.5rem;
  text-align: justify;
  align-self: center;
}
.sucursales_principal_sucursal_elemento6 {
  grid-area: ele6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 0;
  padding: 10px;
  background-color: #e0adbe;
  margin-bottom: 0;
  font-size: 1.5rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* En esta sección aplicamos los esilos del despegable de filtros que se muestra en el header para esta página */
header .accordion-item {
  border: 0;
}
header .accordion-item:first-of-type .accordion-button {
  border-radius: 0;
}
header .accordion-item:last-of-type, header .accordion-item:first-of-type {
  border-radius: 0;
}
header #collapseOne {
  transition: all 0.5s;
}
header .accordion-button {
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s;
}
header .accordion-button:not(.collapsed) {
  background-color: #26a9e0;
  color: white;
}
header .accordion-body {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
  gap: 20px;
}
header .accordion-body div p {
  margin-bottom: 15px;
}
header .accordion-body p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
header .accordion-body .form-check {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}
header .accordion-body .form-check input {
  margin-top: 0;
}
header .accordion-body input {
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  border: 3px solid #212529;
}
header .header_acordeon_checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 0;
}

/* Aplicación de estilos al contenedor de las cards productos y a las cards en sí */
.productos_principal {
  padding-top: 50px;
}
.productos_principal h1 {
  text-align: center;
}

.productos {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}
.productos_separador {
  width: 25%;
  padding: 10px;
}
.productos_cards {
  box-shadow: 0 0 10px 5px rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 450px;
  background-color: #eacad7;
  padding: 25px 15px 15px 15px;
  border-radius: 20px;
  transition: all 0.5s;
}
.productos_cards:hover {
  background-color: #e0adbe;
}
.productos_cards:hover .productos_cards_contenido_data_titulo {
  color: #ea1166;
}
.productos_cards_img {
  overflow: hidden;
  width: 100%;
  height: 50%;
  border-radius: 20px;
}
.productos_cards_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
}
.productos_cards_img img:hover {
  transform: scale(1.5);
}
.productos_cards_contenido {
  height: 50%;
}
.productos_cards_contenido_data {
  max-height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
  gap: 10px;
}
.productos_cards_contenido_data_titulo {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s;
}
.productos_cards_contenido_data_descripcion {
  text-align: center;
  font-size: 1rem;
}
.productos_cards_contenido_data_precio {
  font-size: 1.5rem;
  font-weight: bold;
}
.productos_cards_contenido_data_boton {
  font-size: 1rem;
  font-weight: bold;
  padding: 5px;
  color: #26a9e0;
  border-radius: 10px;
  border: 0;
  transition: all 0.5s;
}
.productos_cards_contenido_data_boton:hover {
  background-color: #26a9e0;
  color: #fff;
}

.carrito {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.carrito_card {
  box-shadow: 0 0 10px 5px rgb(255, 255, 255);
  margin-bottom: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 33.33333333%);
  grid-template-rows: 50px 150px;
  grid-template-areas: "nombre nombre nombre" "img und eliminar";
  border-radius: 20px;
  background-color: #ffffff;
  transition: all 0.5s;
}
.carrito_card:hover img {
  filter: grayscale(0);
}
.carrito_card button {
  border: 0;
  background-color: rgba(255, 255, 255, 0);
}
.carrito_card_nombre {
  grid-area: nombre;
  font-size: 30px;
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #26a9e0;
}
.carrito_card_nombre p {
  margin: auto 0 auto 0;
  text-align: center;
  font-weight: bold;
  color: #080808;
}
.carrito_card_img {
  grid-area: img;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 20px;
  filter: grayscale(70%);
  transition: all 0.5s;
}
.carrito_card_unidades {
  grid-area: und;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.carrito_card_unidades_titulo {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.carrito_card_unidades p {
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bold;
}
.carrito_card_unidades ul {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 0;
  font-size: 30px;
  font-weight: bold;
}
.carrito_card_unidades ul li {
  width: 33.33333333%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.carrito_card_unidades ul i {
  transition: all 0.3s;
}
.carrito_card_unidades ul i:hover {
  font-size: 40px;
}
.carrito_card_eliminar {
  grid-area: eliminar;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.carrito_card_eliminar_titulo {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.carrito_card_eliminar p {
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bold;
}
.carrito_card_eliminar button {
  height: 50%;
}
.carrito_card_eliminar i {
  font-size: 30px;
  transition: all 0.3s;
}
.carrito_card_eliminar i:hover {
  font-size: 40px;
}

@media screen and (max-width: 995px) {
  /* mediaqueries para la página productos */
  .productos_separador {
    width: 33.33333333%;
  }
}
@media screen and (max-width: 770px) {
  /* mediaqueries para el header y el footer */
  header .container {
    max-width: 100%;
    padding: 0 20px;
  }
  header .navegador_list li {
    font-size: 1.2rem;
  }
  header .navegador_logo img {
    width: 80%;
  }
  footer .container {
    max-width: 100%;
    padding: 0 20px;
  }
  footer .footer_contacto, footer .footer_redessociales {
    font-size: 1.2rem;
  }
  /* mediaqueries para la página sucursales */
  .sucursales_principal_sucursal_elemento6 {
    flex-direction: column;
    gap: 10px;
  }
  /* mediaqueries para la página productos */
  .productos_separador {
    width: 50%;
  }
  /* mediaqueries para la página carrito */
  .carrito_card {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 50px 150px 50px;
    grid-template-areas: "nombre nombre" "img und" "eliminar eliminar";
  }
  .carrito_card_eliminar {
    flex-direction: row;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #26a9e0;
  }
  .carrito_card_eliminar_titulo {
    height: 100%;
    width: 50%;
  }
  .carrito_card_eliminar button {
    height: 100%;
    width: 50%;
  }
  .carrito_card_img {
    border-bottom-left-radius: 0;
  }
  /* mediaqueries para la sección nosotros */
  .nosotros_momentos_collage {
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "img1 img1" "img2 img3" "img4 img5" "img6 img7";
  }
  .nosotros_momentos_collage_contenido_texto {
    padding: 10px;
    max-height: 100%;
  }
  .nosotros_momentos_collage_contenido_texto p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 590px) {
  /* aplicaciones de cambios al index, header y footer */
  header .navegador {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: auto;
    grid-template-areas: "navlogo" "nav1" "nav2";
    justify-items: center;
    align-items: center;
    gap: 10px;
  }
  header .navegador_logo {
    width: 100%;
  }
  header .navegador_logo img {
    width: 80%;
  }
  header .navegador_list {
    flex-direction: column;
  }
  header .navegador_list li {
    font-size: 1.5rem;
  }
  .carrusel .contenedor_carrusel .carousel-item {
    /* @include flex-center(column); */
  }
  .carrusel .contenedor_carrusel .carousel-item img {
    height: 400px;
  }
  #publicaciones .publicaciones_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, 200px);
    grid-template-areas: "mol1" "mol2" "mol3" "mol4";
  }
  footer div {
    width: 50%;
  }
  footer .footer {
    flex-direction: column;
    gap: 20px;
  }
  footer .footer_container_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  footer .footer_container_link img {
    width: 300px;
  }
  footer .footer_contacto, footer .footer_redessociales {
    font-size: 1.5rem;
  }
  /* Cambios a la página nosotros */
  .nosotros_principal_container_textos {
    flex-direction: column;
  }
  .nosotros_principal_container_textos_mision, .nosotros_principal_container_textos_vision {
    width: 100%;
  }
  .nosotros_momentos_collage {
    grid-template-columns: repeat(1, 100%);
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6" "img7";
  }
  /* Ahora aplicaremos cambios a la página de sucursales */
  .sucursales_principal_sucursal {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: auto;
    grid-template-areas: "ele1" "ele2" "ele3" "ele4" "ele5" "ele6";
    /* gap: 15px; */
  }
  .sucursales_principal_sucursal_elemento6 {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 440px) {
  /* mediaqueries para la página productos */
  .productos_separador {
    width: 100%;
  }
  /* mediaqueries para el carrusel del index */
  .carrusel .contenedor_carrusel .carousel-item {
    /* @include flex-center(column); */
  }
  .carrusel .contenedor_carrusel .carousel-item img {
    height: 350px;
  }
  .carrusel .carousel-caption h2 {
    font-size: 1.1rem;
  }
  .carrusel .carousel-caption p {
    font-size: 1rem;
  }
  /* Acá acomodamos algunos tamaños que se ven muy rebundantes en las pantallas pequeñas */
  h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-size: 2.1rem;
  }
}

/*# sourceMappingURL=style.css.map */
