.carrito{
    padding-top: 50px;
    @include flex-center(column);
    &_card{
        @include luz(centro);
        margin-bottom: 50px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 33.33333333%);
        grid-template-rows: 50px 150px;
        grid-template-areas:
        'nombre nombre nombre'
        'img und eliminar'
        ;
        border-radius: 20px;
        background-color: #ffffff;
        transition: all 0.5s;
        &:hover img{
            filter: grayscale(0);
        }
        button{
            border: 0;
            background-color: #ffffff00;
        }
        &_nombre{
            grid-area: nombre;
            font-size: 30px;
            width: 100%;
            height: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            background-color: $primer-color-logo;
            p{
                margin: auto 0 auto 0;
                text-align: center;
                font-weight: bold;
                color: $primer-color-logo-fuente;
            }
        }
        &_img{
            grid-area: img;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-bottom-left-radius: 20px;
            filter: grayscale(70%);
            transition: all 0.5s;
        }
        &_unidades{
            grid-area: und;
            width: 100%;
            height: 100%;
            @include flex-center(column);
            &_titulo{   
                height: 50%;
                @include flex-center(row);
            }
            p{
                margin-bottom: 0;
                font-size: 30px;
                font-weight: bold;
            }
            ul{
                width: 100%;
                height: 50%;
                @include flex(row, space-evenly, center, 0);
                font-size: 30px;
                font-weight: bold;
                li{
                    width: 33.33333333%;
                    @include flex-center(row);
                }
                i{
                    transition: all 0.3s;
                    &:hover{
                        font-size: 40px;
                    }
                }
            }
        }
        &_eliminar{
            grid-area: eliminar;
            width: 100%;
            height: 100%;
            @include flex-center(column);
            &_titulo{
                height: 50%;
                @include flex-center(column);
            }
            p{
                margin-bottom: 0;
                font-size: 30px;
                font-weight: bold;
            }
            button{
                height: 50%;
            }
            i{
                font-size: 30px;
                transition: all 0.3s;
                &:hover{
                    font-size: 40px;
                }
            }
        }
    }
}

