/* Esta será la sección de bienvenida y ajustes del carrusel */
#bienvenida{
    padding-top: 50px;
    h1{
        text-align: center;
        padding-bottom: 50px;    
    }
}

.carrusel{
    padding-right: 0;
    padding-left: 0;
    @include flex-center(column);
    .contenedor_carrusel{
        width: 100%;
        .carousel-item{
            /* @include flex-center(column); */
            width: 100%;
            img{
                object-fit: cover;
                width: 100%;
                height: 550px;
                filter: brightness(70%);
            }
        }
    }
    .carousel-caption{
        h2{
            background-color: rgba(255, 255, 255, 0.411);
            font-weight: bold;
            color: #191919;
            margin-bottom: 0;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        p{ 
            font-size: 1.5rem;  
            background-color: rgba(255, 255, 255, 0.411);
            font-weight: bold;
            color: #191919;
            margin-bottom: 0;
            margin-bottom: 10px;       
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }
}

/* Ahora le daremos estilos y orden a la sección de publicaciones, en donde se muestran distintas cartas de productos */

#publicaciones{
    padding-top: 50px;
    @include flex-center(column);
    padding-bottom: 50px;
    h2{
        text-align: center;
    }
    p{
        padding-bottom: 50px;
        font-size: 1.5rem;
    }
    .publicaciones_container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 16.6%);
        grid-template-rows: repeat(4,200px);
        grid-template-areas: 
        'mol2 mol2 mol1 mol1 mol1 mol1'
        'mol2 mol2 mol1 mol1 mol1 mol1'
        'mol2 mol2 mol3 mol3 mol4 mol4'
        'mol2 mol2 mol3 mol3 mol4 mol4'
        ;
        img{
            transition: all 0.5s;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        //Apliación de transiciones del collage gracias al hover
        &_contenido{
            width: 100%;
            height: 100%;
            position: relative;
            @include flex-center(row);
            span{
                position: absolute;
                display: none;
                text-align: center;
                font-size: 1.5rem;
                font-weight: bold;
                background-color: white;
            }
            &:hover{
                span{
                    display: block;
                }
                img{
                    filter: blur(5px);
                }
            }
        }
        //Asignamos los áreas de cada una de las imágenes de los nuevos helados dentro del grid
        &_modelo1{
            grid-area: mol1;
        }
        
        &_modelo2{
            grid-area: mol2;
        }
        
        &_modelo3{
            grid-area: mol3;
        }
        
        &_modelo4{
            grid-area: mol4;
        }
    }
}







