/* En esta sección aplicamos los esilos del despegable de filtros que se muestra en el header para esta página */

header{
    .accordion-item{
    border: 0;
        &:first-of-type .accordion-button{
            border-radius: 0;
        }
        &:last-of-type, &:first-of-type{
            border-radius: 0;
        }
    }
    #collapseOne{
        transition: all 0.5s;
    }
    .accordion-button {
        font-size: 20px;
        font-weight: bold;
        transition: all 0.5s;
        &:not(.collapsed){
            background-color: #26a9e0;
            color: white;
        }
    }
    .accordion-body{
        @include flex(column, normal, normal, 20px);
        p{
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }
        .form-check{
            font-size: 18px;
        }
        &_buscador{
            padding: 10px;
            border-radius: 20px;
            font-size: 20px;
            border: 3px solid #212529;
        }
    }
    .header_acordeon_checkbox{
        @include flex(row, space-evenly, center, 0);
    }
} 

/* Aplicación de estilos al contenedor de las cards productos y a las cards en sí */

.productos_principal{
    padding-top: 50px;
    h1{
        text-align: center;
    }
}

.productos{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    &_separador{
        width: 25%;
        padding: 10px;
    }
    &_cards{
        @include luz(centro);
        @include flex-center(column);
        height: 450px;
        background-color: #eacad7;
        padding: 25px 15px 15px 15px;
        border-radius: 20px;
        transition: all 0.5s;
        &:hover{
            background-color: #e0adbe;
            .productos_cards_contenido_data_titulo{
                color: #ea1166;
            }
        }
        &_img{
            overflow: hidden;
            width: 100%;
            height: 50%;
            border-radius: 20px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.5s all ease-in-out;
                &:hover{
                    transform: scale(1.5);
                }
            }
        }
        &_contenido{
            height: 50%;
            &_data{
                max-height: 100%;
                padding-top: 10px;
                padding-bottom: 10px;
                @include flex(column, normal, center, 10px);
                &_titulo{
                    text-align: center;
                    font-size: 20px;
                    font-weight: bold;
                    transition: all 0.5s;
                }
                &_descripcion{
                    text-align: center;
                    font-size: 1rem;
                }
                &_precio{
                    font-size: 1.5rem;
                    font-weight: bold;
                }
                &_boton{
                    font-size: 1rem;
                    font-weight: bold;
                    padding: 5px;
                    color: #26a9e0;
                    border-radius: 10px;
                    border: 0;
                    transition: all 0.5s;
                    &:hover{
                        background-color: #26a9e0;
                        color: #fff;
                    }
                }
            }
        }
    }
}


