footer{
    background-color: $primer-color;
    @include luz(arriba);
    /* Acá hacemos más énfasis en la clase .footer, ya que nos brinda más comodidad con la nomenclatura BEM */
    .footer{
        @include flex(row, space-evenly, center, 0);
        padding: 10px 0;
        &_container_link{
            width: 25%;
            img{
                width: 100%;
                animation: soft 5s infinite;
                animation-delay: 0s;
            }
        }
        &_contacto, &_redessociales{
            @include flex(column, space-evenly, center, 10px);
            font-size: 1.5rem;
            color: $primer-color-fuente;
            h3{
                text-align: center;
            }
            p{
                text-align: center;
                font-weight: bold;
                cursor: pointer;
                transition: 0.5s;
                &:hover{
                    color: $primer-color-fuente-hover;
                }
            }
        }
    }
    .footer_redessociales_icons{
        @include flex(row, space-evenly, center, 0);
        width: 100%;
        font-size: 2rem;
        i{
            color: $primer-color-fuente;
            transition: 0.5s;
            &:hover{
                color: $primer-color-fuente-hover;
            }
        }
    }
}