header{
    @include luz(abajo);
    background-color: $primer-color;
    /* Aplicación de estilos a la navbar */
    .navegador{
        @include flex(row, space-between, center, 0);
        padding: 10px 0;
        &_list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            width: 33.3%;
            li{
                font-size: 1.5rem;
                font-weight: bold;    
                a{
                    color: $primer-color-fuente;
                    transition: all 0.5s;
                    &:hover{
                        color: $primer-color-fuente-hover;
                    }
                }
            }
            i{
                font-size: 2.5rem;
                color: $primer-color-fuente;
                transition: all 0.5s;
                &:hover{
                    color: $primer-color-fuente-hover;
                }
            }
        }
        &_list_primera{
            grid-area: nav1;
        }
        
        &_list_segunda{
            grid-area: nav2;
        }
        &_logo{
            animation: soft 5s infinite;
            animation-delay: 0s;
            @include flex-center(row);
            width: 33.3%;
            grid-area: navlogo;
            img{
                width: 60%;
            }
        }
    }
}








