//Colores principales (fondos)
$primer-color: #dc9bed;
$segundo-color: #eacad7;

//Colores de fuente
$primer-color-fuente: #2d1b4f;
$primer-color-fuente-hover: #480f10;

//Colores del logo
$primer-color-logo: #26a9e0;
$primer-color-logo-fuente: #080808;
$segundo-color-logo: #ea1166;